<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ktpoc.tvcomm.consulting" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <!-- for TC box -->
    <permission android:name="android.permission.DELETE_PACKAGES" />

    <!-- KPNS Ver 2.2.1 -->
    <!-- KPNS Ver 2.1.5 -->
    <permission
        android:name="com.ktpoc.tvcomm.consulting.permission.Push_MESSAGE"
        android:protectionLevel="signature" />
    <permission
        android:name="com.ktpoc.tvcomm.consulting.permission.KTPNS_MESSAGE"
        android:protectionLevel="signature" />

    <!-- KPNS Ver 2.2.1 -->
    <uses-permission android:name="com.tta.push.permission.Push_SEND" />
    <uses-permission android:name="com.tta.push.permission.Push_RECEIVE" />
    <uses-permission android:name="com.ktpoc.tvcomm.consulting.permission.Push_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <!-- KPNS Ver 2.1.5 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- KPNS 2.1.5 -->
    <uses-permission android:name="com.ktpoc.tvcomm.consulting.permission.KTPNS_MESSAGE" />
    <uses-permission android:name="com.kt.pns.permission.RECEIVE" />

    <!-- KPNS Ver 2.2.1 -->
    <permission
        android:name="com.ktpoc.tvcomm.consulting.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ktpoc.tvcomm.consulting.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.ktpns.lib.service.PushClientService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/service_name" />
        <!--
         <service
         android:name="com.ktpns.lib.service.UserChangeService"
         android:enabled="true"
         android:exported="true"
         android:label="@string/user_service_name" />
        -->
        <service
            android:name="com.ktpns.lib.service.KeepAliveService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.NoDisplay" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConsultingPopUpActivity"
            android:theme="@style/Theme.Transparent" >
        </activity>
        <!--<activity-->
            <!--android:name=".ConsultingPopUpActivity"-->
            <!--android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >-->
        <!--</activity>-->
        <activity
            android:name=".UserRegisterActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".HomeActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ExpertsViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".ScheduleViewActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".MyMenuActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <!-- <activity -->
        <!-- android:name="com.ktpns.lib.popup.PopupActivity" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" /> -->
        <!-- &lt;!&ndash; Theme.Transparent isn't exits &ndash;&gt; -->
        <!-- <activity -->
        <!-- android:name="com.ktpns.lib.popup.GrantedPermission" -->
        <!-- android:theme="@style/Theme.AppCompat.Light.Dialog.Alert" /> -->
        <!-- &lt;!&ndash; Theme.Transparent isn't exits &ndash;&gt; -->

        <receiver android:name=".PushReceiver" >
            <intent-filter>
                <action android:name="com.tta.push.intent.receive.REGISTRATION" />
                <action android:name="com.tta.push.intent.receive.MESSAGE" />
                <action android:name="com.tta.push.intent.receive.STATUS_OF_SERVICE" />
                <action android:name="com.tta.push.intent.receive.STATUS_OF_MY_PUSH" />

                <category android:name="com.ktpoc.tvcomm.consulting" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tta.push.intent.receive.RE_REGISTER" />
                <action android:name="com.tta.push.intent.receive.SERVICE_AVAILABLE" />
                <action android:name="com.tta.push.intent.receive.SERVICE_UNAVAILABLE" />
                <action android:name="com.tta.push.intent.receive.SERVICE_AVAILABILITY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.ktpns.pa.receive.MESSAGE" />
                <action android:name="com.ktpns.pa.receive.REGISTRATION" />
                <action android:name="com.ktpns.pa.receive.SERVICE_STATUS" />
                <action android:name="com.ktpns.pa.receive.UNREGISTERED" />

                <category android:name="com.ktpoc.tvcomm.consulting" />
            </intent-filter>
        </receiver>

        <!-- KPNS 2.1.5 attaching for stabilization -->
        <receiver android:name="com.ktpns.lib.receiver.DeviceEventReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTITVITY_CHANGE" />
                <action android:name="com.ktpns.pa.START_PUSH_CLIENT" />
                <action android:name="com.ktpns.pa.CHECK_SERVICE_PRIORITY" />
                <action android:name="IPC.PUSH.BR.REC_com.ktpoc.tvcomm.consulting" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <!-- <meta-data -->
        <!-- android:name="com.google.android.gms.version" -->
        <!-- android:value="@integer/google_play_services_version" /> -->

        <receiver
            android:name=".ConsultingReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.ktpoc.tvcomm.consulting.start" />
                <action android:name="com.ktpoc.tvcomm.consulting.information" />
                <action android:name="com.ktpoc.tvcomm.consulting.menu" />
                <action android:name="com.ktpoc.tvcomm.consulting.schedule" />
                <action android:name="com.ktpoc.tvcomm.consulting.stop" />
                <action android:name="com.ktpoc.tvcomm.service.check" />
                <action android:name="com.insun.send.msg.songsong" />

                <!-- <category android:name="com.ktpoc.tvcomm.consulting" /> -->
                <!-- <action /> -->
            </intent-filter>
        </receiver>

        <activity android:name=".ScreenShareActivity" >
        </activity>
    </application>

</manifest>
